body,
* {
    cursor: url('//cdn.kokononine.moe/pictures/miku-cursor-common.png'), auto !important;
}

a,
map,
area,
form,
input,
label,
meter,
button,
option,
output,
select,
details,
summary,
datalist,
progress,
textarea {
    cursor: url('//cdn.kokononine.moe/pictures/miku-cursor-snooze.png'), auto !important;
}

::selection {
    background-color: #ff9fbf3f;
}
