@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,wght@0,300..800;1,300..800&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');*/

:root {
    --kokononine-font-system: -apple-system, system-ui, BlinkMacSystemFont;
    --kokononine-font-fallback: 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'SimSun', sans-serif, monospace;
    --kokononine-font-english-code: 'JetBrains Mono';
    --kokononine-font-english: 'Comfortaa' /*, 'Quicksand', 'Open Sans', 'Google Sans'*/ ;
    --kokononine-font-simplified-chinese: 'Noto Sans SC';
    --kokononine-font-japanese: 'Kiwi Maru';
    --kokononine-font-cjk: var(--kokononine-font-simplified-chinese), var(--kokononine-font-japanese);
    --kokononine-font-stack-body: var(--kokononine-font-english), var(--kokononine-font-system), var(--kokononine-font-simplified-chinese), var(--kokononine-font-japanese), var(--kokononine-font-fallback);
    --kokononine-font-stack-code: var(--kokononine-font-english-code), var(--kokononine-font-stack-body);
    --kokononine-font-stack-japanese: var(--kokononine-font-english), var(--kokononine-font-japanese), var(--kokononine-font-system), var(--kokononine-font-simplified-chinese), var(--kokononine-font-fallback);
    --kokononine-color: #ff9fbf;
}

body,
* {
    cursor: url('//cdn.kokononine.moe/images/cursor-normal.png'), auto !important;
}

a,
map,
area,
form,
input,
label,
meter,
button,
option,
output,
select,
details,
summary,
datalist,
progress,
textarea {
    cursor: url('//cdn.kokononine.moe/images/cursor-link.png'), auto !important;
}

body {
    font-family: var(--kokononine-font-stack-body) !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

code {
    font-family: var(--kokononine-font-stack-code) !important;
}

:lang(ja),
[lang|='ja'] {
    font-family: var(--kokononine-font-stack-japanese) !important;
}

.kokononine-spoiler-mask {
    position: relative;
    display: inline-block;
    pointer-events: auto;
}

.kokononine-spoiler-mask::after {
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: var(--kokononine-spoiler-mask-color, var(--kokononine-color, #ff9fbf));
    transition: opacity var(--kokononine-spoiler-mask-delay, 0.5s) ease;
}

.kokononine-spoiler-mask:hover::after {
    opacity: 0;
}

.kokononine-spoiler-text {
    background-color: var(--kokononine-spoiler-text-color, var(--kokononine-color, #ff9fbf));
    color: var(--kokononine-spoiler-text-color, var(--kokononine-color, #ff9fbf));
    cursor: pointer;
    transition: all var(--kokononine-spoiler-text-delay, 0.5s) ease;
    pointer-events: auto;
}

.kokononine-spoiler-text:hover {
    background-color: transparent;
    color: inherit;
}

.kokononine-spoiler-blur {
    filter: blur(5px);
    opacity: 0.5;
    transition: all var(--kokononine-spoiler-blur-delay, 0.5s) ease;
    pointer-events: auto;
}

.kokononine-spoiler-blur:hover {
    filter: none;
    opacity: 1;
}

.kokononine-qoute-table,
.kokononine-qoute-table-table {
    display: table;
    margin: auto;
    border: none;
    border-collapse: collapse;
    background-color: transparent;
}

.kokononine-qoute-table-tr,
.kokononine-qoute-table tr {
    border: none;
}

.kokononine-qoute-table-td-begin,
.kokononine-qoute-table tr:only-child td:first-child:not(:last-child),
.kokononine-qoute-table tr:not(:last-child) td:first-child:not(:last-child) {
    border: none;
    text-align: left;
    vertical-align: top;
    color: var(--kokononine-color, #ff9fbf);
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    font-size: 2rem;
    line-height: 100%;
    padding: 10px 10px 10px 10px;
}

.kokononine-qoute-table-td-content,
.kokononine-qoute-table tr:only-child td:only-child,
.kokononine-qoute-table tr:not(:last-child) td:only-child,
.kokononine-qoute-table tr:only-child td:not(:first-child):not(:last-child),
.kokononine-qoute-table tr:not(:last-child) td:not(:first-child):not(:last-child) {
    border: none;
    text-align: left;
    vertical-align: middle;
    padding: 1rem;
}

.kokononine-qoute-table-td-end,
.kokononine-qoute-table tr:only-child td:last-child:not(:first-child),
.kokononine-qoute-table tr:not(:last-child) td:last-child:not(:first-child) {
    border: none;
    text-align: left;
    vertical-align: bottom;
    color: var(--kokononine-color, #ff9fbf);
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    font-size: 2rem;
    line-height: 100%;
    padding: 10px 10px 10px 10px;
}

.kokononine-qoute-table-td-ref,
.kokononine-qoute-table tr:last-child:not(:only-child) td {
    border: none;
    text-align: right;
    padding-right: 4%;
}
