@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,wght@0,300..800;1,300..800&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');*/

body {
    cursor: url('//cdn.kokononine.moe/images/cursor-normal.png'), auto !important;
}

a {
    cursor: url('//cdn.kokononine.moe/images/cursor-link.png'), auto !important;
}

button {
    cursor: url('//cdn.kokononine.moe/images/cursor-link.png'), auto !important;
}

code {
    font-family: 'JetBrains Mono', 'Open Sans', -apple-system, system-ui, BlinkMacSystemFont, 'Noto Sans SC', 'Kiwi Maru', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'SimSun', sans-serif, monospace !important;
}

.kokononine-spoiler-mask {
    position: relative;
    display: inline-block;
    pointer-events: auto;
}

.kokononine-spoiler-mask::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff9fbf;
    transition: opacity var(--kokononine-spoiler-mask-delay) ease;
}

.kokononine-spoiler-mask:hover::after {
    opacity: 0;
}

.kokononine-spoiler-mask-color {
    position: relative;
    display: inline-block;
    pointer-events: auto;
}

.kokononine-spoiler-mask-color::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--kokononine-spoiler-mask-color);
    transition: opacity var(--kokononine-spoiler-mask-color-delay) ease;
}

.kokononine-spoiler-mask-color:hover::after {
    opacity: 0;
}

.kokononine-spoiler-text {
    background-color: #ff9fbf;
    color: #ff9fbf;
    cursor: pointer;
    transition: all var(--kokononine-spoiler-text-delay) ease;
    pointer-events: auto;
}

.kokononine-spoiler-text:hover {
    background-color: transparent;
    color: inherit;
}

.kokononine-spoiler-text-color {
    background-color: var(--kokononine-spoiler-text-color);
    color: var(--kokononine-spoiler-text-color);
    cursor: pointer;
    transition: all var(--kokononine-spoiler-text-color-delay) ease;
    pointer-events: auto;
}

.kokononine-spoiler-text-color:hover {
    background-color: transparent;
    color: inherit;
}

.kokononine-spoiler-blur {
    filter: blur(5px);
    opacity: 0.5;
    transition: all var(--kokononine-spoiler-blur-delay) ease;
    pointer-events: auto;
}

.kokononine-spoiler-blur:hover {
    filter: none;
    opacity: 1;
}

body {
    font-family: 'Comfortaa', /*'Quicksand', 'Open Sans', 'Google Sans',*/ -apple-system, system-ui, BlinkMacSystemFont, 'Noto Sans SC', 'Kiwi Maru', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'SimSun', sans-serif, monospace !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.kokononine-qoute-table {
    display: table;
    margin: auto;
    background-color: transparent;
    border: none;
    border-collapse: collapse;
}

.kokononine-qoute-tr {
    border: none;
}

.kokononine-qoute-td-begin {
    border: none;
    vertical-align: top;
    text-align: left;
    color: #ff9fbf;
    font-size: 2rem;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    line-height: 100%
}

.kokononine-qoute-td-content {
    border: none;
    vertical-align: middle;
    text-align: left;
    padding: 1em;
}

.kokononine-qoute-td-end {
    border: none;
    vertical-align: bottom;
    color: #ff9fbf;
    font-size: 2rem;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    text-align: left;
    padding: 10px 10px 10px 10px;
    line-height: 100%
}

.kokononine-qoute-td-ref {
    border: none;
    text-align: right;
    padding-right: 4%;
}
